<!DOCTYPE html>
<html lang="en">
    <head>
        {% extends "basic_me.html" %}
        {% block content %}
        {% endblock %}
    </head>
    <body>
        {% extends "basic_me.html" %}
        {% block body %}
        {% extends "basic_me.html" %}
        {% block content %}
        <h2 class="first">O mnie</h2>
        <h2>  </h2>
        <h2 class="second"> "imię: Patrycja"</h2>
        <h2 class="third"> "nazwisko: Jałowiecka" </h2>
        <h2> "Uczę się, odkrywam i ciekawię" </h2>  
        <link rel="stylesheet" href="style.css">
        {% endblock %}
    </body>
</html><>
